.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: #fff;
}

.mat-mdc-fab {
  background: linear-gradient(
    to right bottom,
    #EB054E 0%,
    #DB0A84 50%,
    #A212D5 100%
    );
}

.mat-mdc-button>.mat-icon {
  margin-right: 0;
}

.mat-mdc-unelevated-button>.mat-icon {
  margin-right: 0;
}

.mat-mdc-card-content {
  padding-bottom: 16px;
}

.mat-mdc-radio-button.mat-primary {
  --mdc-radio-disabled-selected-icon-color: #fff;
  --mdc-radio-disabled-unselected-icon-color: #fff;
  --mdc-radio-unselected-hover-icon-color: #fff;
  --mdc-radio-unselected-icon-color: #fff;
  --mdc-radio-unselected-pressed-icon-color: #fff;

  --mdc-radio-selected-hover-icon-color: #fff;
  --mdc-radio-selected-focus-icon-color: #fff;
  --mdc-radio-selected-icon-color: #fff;
  --mdc-radio-selected-pressed-icon-color: #fff;
  --mdc-radio-selected-pressed-icon-color: #fff;

  --mat-radio-ripple-color: #fff;
  --mat-radio-checked-ripple-color: #fff;
  --mat-radio-disabled-label-color: #fff;
}