<div class="left-container">

  <h1>SOCIAL THOUGHTS</h1>

  <p>Share your thoughts, or not. Use them like a post-it or a TODO list. Whatever you want.</p>

</div>
<div class="right-container mat-elevation-z4">
  <h2>Login</h2>

  <p>Fulfill the fields below with your credentials.</p>

  <form>
    <input type="text" placeholder="email">
    <input type="text" placeholder="username">
    <input type="text" placeholder="password">
    <button type="button" mat-flat-button>Login</button>
  </form>


</div>


<!-- @if(isRegister()) {
  <span>registrando</span>
}@else {
  <span>login</span>
} -->