<mat-toolbar>
  <textarea [formControl]="userInput" type="text" placeholder="type '/' for commands..." rows="2"></textarea>
  <!-- @if(showOptions()) {
    <div class="options mat-elevation-z4">
      <ul>
        <li>/&#64;username: search thoughts by username</li>
      </ul>
    </div>
  } -->

  <!-- <mat-radio-group [(ngModel)]="selectedRadio" (ngModelChange)="select($event)">
    @for(item of options; track item.id) {
      <mat-radio-button [disabled]="item.name === 'ADD' && !authService()" [checked]="item.option" [value]="item.id" color="primary">
        <span>{{ item.name}}</span>
      </mat-radio-button>
    }
  </mat-radio-group> -->
</mat-toolbar>