:host {
  position: sticky;
  top: 8vh;
  z-index: 1;

  mat-toolbar {
    
    position: relative;
    background: linear-gradient(
    to right bottom,
    #EB054E 0%,
    #DB0A84 50%,
    #A212D5 100%
    );

    textarea {
      width: 100%;
      border: 1px solid #DB0A84;
      border-radius: 4px;
      outline: none;
      padding: 4px 16px;
      min-height: 36px;
      max-height: 100px;
      resize: vertical;
      color: #333;
      font-style: italic;
      letter-spacing: .05rem;
    }

    mat-radio-group {

      padding-left: 16px;

      mat-radio-button {
        span {
          color: #fff;
          letter-spacing: .100rem;
          font-weight: lighter;
          font-size: 2vmin;
        }
      }
    }
  }
}