:host {
  position: sticky;
  top: 0;
  z-index: 1;
  padding-bottom: 3vmin;

  span {
    font-size: 3vmin;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: .100rem;
  }
}