:host {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fafafa;

  mat-toolbar {



    height: 8vh;
  }

  h1 {
    color: #444;
    font-size: 3vmin;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: .100rem;
  }

  div {

    display: flex;
    gap: 1vmin;
    align-items: center;

    button {

      span {
        letter-spacing: .100rem;
        color: #444;
        font-size: 2vmin;
        font-weight: lighter;
      }

      &:nth-of-type(1) {
        span {
          text-decoration: underline;
        }
      }

      &:nth-of-type(2) {

        border: 1px solid #A212D5;

        span {
          color: #A212D5;
        }
      }
    }
  }
}

@media (min-width: 728px) {
  :host {

    mat-toolbar {
      height: 12vh;
    }
  }
}