<mat-toolbar>
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <h1>SOCIAL THOUGHTS</h1>
  <span class="spacer"></span>

  <div class="div">
    <button mat-flat-button>
      <span>Register</span>
    </button>
    <span class="pipe">|</span>
    <button mat-flat-button class="style">
      <!-- @if(!isSmallScreen){
        <mat-icon>login</mat-icon>
      } -->
      <span>Login</span>
    </button>
  </div>

</mat-toolbar>