:host {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fafafa;

  h1 {
    color: #444;
    font-size: 3vmin;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: .100rem;
  }

  .div {

    display: flex;
    gap: 1vmin;
    align-items: center;

    .pipe {
      color: #A212D5;
    }


    button {

      mat-icon {
        display: flex;
        align-items: center;
        color: #A212D5;
        font-weight: 100;
        font-size: 2vmin;
      }

      span {
        letter-spacing: .100rem;
        color: #A212D5;
        font-size: 2vmin;
        font-weight: lighter;
      }
    }

  }
}