:host {
  
  position: relative;
  background-color: #fafafa;
  z-index: 0;
  height: 100%;

  div.thoughts-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    z-index: 0;
    gap: 3vmin;
    padding: 5vmin;
    height: inherit;
  }
}
