@for (thought of thoughts$ | async ; track thought.id; let idx = $index, e = $even) {

  <mat-card class="card">
    <mat-card-content>
      <p> {{ thought?.textContent }} </p>
    </mat-card-content>
    <span class="spacer"></span>
    <mat-card-header class="header">
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{ thought?.username }}</mat-card-title>
      <mat-card-subtitle> {{ thought?.timestamp?.seconds }} </mat-card-subtitle>
      <span class="spacer"></span>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-header>
  </mat-card>

  } @empty {
  <li> There are no items. </li>
  }