@for (thought of thoughts$ | async ; track thought.id; let idx = $index, e = $even) {

<div class="card-container">
  <mat-card class="card">

    <mat-card-content>
      <textarea #txtArea (blur)="changeThoughtContent(thought, txtArea.value)" type="text"
        [value]="thought?.textContent"></textarea>
    </mat-card-content>

    <span class="spacer"></span>

    <mat-card-header class="header">
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{ thought?.username }}</mat-card-title>
      <mat-card-subtitle> {{ thought?.timestamp?.seconds }} </mat-card-subtitle>
      <span class="spacer"></span>
      <button [disabled]="!isAuthenticated" class="like-btn" mat-button (click)="changeThoughtLikes(thought)">
        <mat-icon [ngClass]="isAuthenticated ? 'enabled' : 'disabled'" color="primary">thumb_up</mat-icon>
        <span [ngClass]="isAuthenticated ? 'enabled' : 'disabled'">{{ thought.like }}</span>
      </button>
      @if(isAuthenticated && thought.userUid === uid && thought.username === username){
      <button mat-button (click)="removeThought(thought.id)">
        <mat-icon color="accent">delete</mat-icon>
      </button>
      }
    </mat-card-header>

  </mat-card>
</div>

} @empty { <span>There are no items.</span> }