:host {

  background-color: #fafafa;
  display: inline-grid;
  grid-template-columns: auto;
  gap: 3vmin;
  padding: 3vmin;
  height: 100vh;

  .card {
    height: fit-content;
    z-index: 0;

    .header-image {
      background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
      background-size: cover;
    }
  }
}

@media (min-width: 728px) {
  :host {
    grid-template-columns: auto auto;

    .card {
      height: 100%;
    }
  }
}

@media (min-width: 1080px) {
  :host {
    grid-template-columns: auto auto auto;

    .card {
      height: 100%;
    }
  }
}

@media (min-width: 1420px) {
  :host {
    grid-template-columns: auto auto auto auto;

    .card {
      height: 100%;
    }
  }
}

